<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	
	<bean id="manageAction" class="action.ManageAction" scope="prototype">

		<property name="userDao"><ref bean="userDao" /></property>	
		
		<property name="kechengDao"><ref bean="kechengDao" /></property>		
		
	</bean>
	
	<bean id="kechengAction" class="action.KechengAction" scope="prototype">

		<property name="kechengDao"><ref bean="kechengDao" /></property>		
		
	</bean>
	
	<bean id="shitiAction" class="action.ShitiAction" scope="prototype">

		<property name="kechengDao"><ref bean="kechengDao" /></property>		

		<property name="shitiDao"><ref bean="shitiDao" /></property>	
		
	</bean>
	
	<bean id="shijuanAction" class="action.ShijuanAction" scope="prototype">

		<property name="shijuanDao"><ref bean="shijuanDao" /></property>	
		
		<property name="kechengDao"><ref bean="kechengDao" /></property>	
		
		<property name="shijuanitemDao"><ref bean="shijuanitemDao" /></property>	
		
		<property name="shitiDao"><ref bean="shitiDao" /></property>		

	</bean>
	
	
	<bean id="shijuanitemAction" class="action.ShijuanitemAction" scope="prototype">
		
		<property name="shijuanitemDao"><ref bean="shijuanitemDao" /></property>
		
		<property name="shijuanDao"><ref bean="shijuanDao" /></property>	
		
		<property name="shitiDao"><ref bean="shitiDao" /></property>		

	</bean>
	
	
	<bean id="examAction" class="action.ExamAction" scope="prototype">
		
		<property name="examDao"><ref bean="examDao" /></property>
		
		<property name="shijuanDao"><ref bean="shijuanDao" /></property>
		
		<property name="mingxiDao"><ref bean="mingxiDao" /></property>
		
		<property name="shijuanitemDao"><ref bean="shijuanitemDao" /></property>
				

	</bean>
	
	<bean id="mingxiAction" class="action.MingxiAction" scope="prototype">
		
		<property name="mingxiDao"><ref bean="mingxiDao" /></property>
				
		<property name="examDao"><ref bean="examDao" /></property>


	</bean>
	
	
	<bean id="ziliaoAction" class="action.ZiliaoAction" scope="prototype">
		
		<property name="ziliaoDao"><ref bean="ziliaoDao" /></property>
				
		<property name="kechengDao"><ref bean="kechengDao" /></property>


	</bean>
	
	
	
</beans>
